body,
div {
  border: 1px;
  border-style: solid;
  border-color: red;
}

body {
  text-align: center;
}

.container {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.display {
  margin: 14px;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button {
  height: 50px;
  width: 50px;
}