@font-face {
  font-family: 'digital-clock-font';
  src: url(./fonts/digital-7.regular.ttf);
}

body {
  text-align: center;
  min-width: 300px;
}

.container {
  height: 500px;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  border-radius: 8px;
}

.title {
  margin: 14px 14px 0 14px;
  font-size: 32px;
  color: white;
}

.display {
  margin: 14px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(217, 233, 212);
  border-radius: 8px;
}

.output {
  font-family: 'digital-clock-font';
  margin-right: 6px;
  margin-bottom: 10px;
  font-size: 48px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
}

button {
  height: 55px;
  width: 55px;
  padding: 0;
  font-size: 18px;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
}

.number,
.decimal,
.operator {
  font-size: 24px;
}

.operator {
  background-color: rgb(255, 165, 0);
  color: black;
}

.operator:hover {
  background-color: rgb(235, 145, 0);
}

.remove {
  color: rgb(255, 255, 255);
  background-color: rgb(138, 0, 0);
}

.remove:hover {
  background-color: rgb(118, 0, 0);
}

.number,
.decimal {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
}

.number:hover,
.decimal:hover {
  background-color: rgb(36, 36, 36);
}

.qol {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.qol:hover {
  background-color: rgb(235, 235, 235);
}

.operator:active,
.remove:active,
.number:active,
.decimal:active,
.qol:active {
  transform: translateY(2px);
}